/**
 * Product Preview Card Component
 *
 * This is my solution to Frontend Mentor's Product Preview Card Component 
 * challenge. Usually I would use Sass but in this instance I thought using 
 * vanilla CSS is a good idea as it is a pretty simple component.
 *
 * Solution URL: https://github.com/frontendstu/product-preview-card-component/
 * Live Site URL: https://frontendstu.github.io/product-preview-card-component/
 */

:root {
  /******* Colours */
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-500: hsl(228, 12%, 48%);
  --color-neutral-900: hsl(212, 21%, 14%);
  --color-cream: hsl(28, 38%, 92%);
  --color-aquamarine: hsl(157, 36%, 37%);
  --color-dark-aquamarine: hsl(157, 43%, 18%);

  --color-body-bg: var(--color-cream);

  /******* Fonts */
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fs-100: 0.75rem; /* 12px */
  --fs-200: 0.875rem; /* 14px */
  --fs-400: 2rem; /* 32px */

  --ff-primary: 'Montserrat', sans-serif;
  --ff-heading: 'Fraunces', serif;

  /******* Copy */
  --copy-font: var(--fw-medium) var(--fs-200) var(--ff-primary);
  --copy-leading: 23px;
  --copy-color: var(--color-neutral-500);

  /******* Heading */
  --heading-font: var(--fw-bold) var(--fs-400) var(--ff-heading);
  --heading-leading: 32px;
  --heading-color: var(--color-neutral-900);
}

/******* Font Import */
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-weight: 500 700;
  src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
