/**
 * Product Preview Card Component
 *
 * This is my solution to Frontend Mentor's Product Preview Card Component 
 * challenge. Usually I would use Sass but in this instance I thought using 
 * vanilla CSS is a good idea as it is a pretty simple component.
 *
 * Solution URL: https://github.com/frontendstu/product-preview-card-component/
 * Live Site URL: https://frontendstu.github.io/product-preview-card-component/
 */

:root {
  /******* Colours */
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-500: hsl(228, 12%, 48%);
  --color-neutral-900: hsl(212, 21%, 14%);
  --color-cream: hsl(28, 38%, 92%);
  --color-aquamarine: hsl(157, 36%, 37%);
  --color-dark-aquamarine: hsl(157, 43%, 18%);

  --color-body-bg: var(--color-cream);

  /******* Fonts */
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fs-100: 0.75rem; /* 12px */
  --fs-200: 0.875rem; /* 14px */
  --fs-400: 2rem; /* 32px */

  --ff-primary: 'Montserrat', sans-serif;
  --ff-heading: 'Fraunces', serif;

  /******* Copy */
  --copy-font: var(--fw-medium) var(--fs-200) var(--ff-primary);
  --copy-leading: 23px;
  --copy-color: var(--color-neutral-500);

  /******* Heading */
  --heading-font: var(--fw-bold) var(--fs-400) var(--ff-heading);
  --heading-leading: 32px;

  /******* Links */
  --link-decoration: none;
  --link-color: var(--color-aquamarine);
  --link-color-active: var(--color-dark-aquamarine);
  --link-transition: 150ms ease-in-out all;

  /******* Buttons */
  --btn-font: var(--fw-semibold) var(--fs-200) var(--ff-primary);
  --btn-color: var(--color-neutral-100);
  --btn-color-active: var(--btn-color);
  --btn-bg: var(--color-aquamarine);
  --btn-bg-active: var(--color-dark-aquamarine);
  --btn-radius: 8px;
  --btn-padding-block: 1rem; /* 16px */

  /******* Product Card */
  --product-card-bg: var(--color-neutral-100);
  --product-card-max-width: 21.4375rem; /* 343px */

  --product-card-content-padding: 1.5rem; /* 24px */
  --product-card-content-btn-margin-top: 1.25rem; /* 20px */
  --product-card-content-btn-img-margin-right: 0.75rem; /* 12px */

  --product-card-category-fs: var(--fs-100);
  --product-card-category-leading: 5px;

  --product-card-details-margin-top: 0.75rem; /* 12px */
  --product-card-details-heading-color: var(--color-neutral-900);
  --product-card-details-text-margin-top: 1rem; /* 16px */

  --product-card-details-price-margin-top: 1.5rem; /* 24px */
  --product-card-details-price-heading-color: var(--color-aquamarine);
  --product-card-details-price-heading-margin-right: 1.24rem; /* 20px */
}

/******* Font Import */
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-weight: 500 700;
  src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Fraunces';
  font-display: swap;
  font-weight: 500 700;
  src: url('../assets/fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
}

/******* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/******* Boilerplate */
body {
  font: var(--copy-font);
  line-height: var(--copy-leading);
  color: var(--copy-color);
  background-color: var(--color-body-bg);
  display: grid;
  place-content: center;
}

.heading {
  font: var(--heading-font);
  line-height: var(--heading-leading);
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: var(--link-transition);
}

a:hover,
a:focus,
a:focus-within {
  color: var(--link-color-active);
}

/******* Buttons */
.btn {
  font: var(--btn-font);
  color: var(--btn-color);
  background-color: var(--btn-bg);
  border-radius: var(--btn-radius);
  padding-block: var(--btn-padding-block);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover,
.btn:focus-within {
  color: var(--btn-color-active);
  background-color: var(--btn-bg-active);
}

/******* Product Card */
.product-card {
  overflow: hidden;
  background-color: var(--product-card-bg);
  border-radius: 8px;
  margin-inline: auto;
  max-width: var(--product-card-max-width);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*** Product Card: Thumbnail */
.product-card__thumbnail {
  width: 100%;
}

/** Product Card: Content */
.product-card__content {
  padding: var(--product-card-content-padding);
  width: 100%;
}

.product-card__content .btn {
  margin-top: var(--product-card-content-btn-margin-top);
}

.product-card__content .btn img {
  margin-right: var(--product-card-content-btn-img-margin-right);
}

/** Product Card: Category */
.product-card__content-category {
  text-transform: uppercase;
  font-size: var(--product-card-category-fs);
  letter-spacing: var(--product-card-category-leading);
}

/** Product Card: Details */
.product-card__content-details {
  margin-top: var(--product-card-details-margin-top);
}
.product-card__content-details .heading {
  color: var(--product-card-details-heading-color);
}

.product-card__content-details p {
  margin-top: var(--product-card-details-text-margin-top);
}

/** Product Card: Price */
.product-card__content-price {
  margin-top: var(--product-card-details-price-margin-top);
  display: flex;
  align-items: center;
}

.product-card__content-price .heading {
  color: var(--product-card-details-price-heading-color);
  margin-right: var(--product-card-details-price-heading-margin-right);
}

@media (min-width: 40.625em) {
  .product-card {
    --product-card-max-width: 37.5rem; /* 600px */

    max-width: var(--product-card-max-width);
    flex-direction: row;
  }

  .product-card__thumbnail {
    width: 50%;
  }

  .product-card__content {
    --product-card-content-padding: 1.65rem 2rem; /* 26.4px 32px */

    width: 50%;
  }

  .product-card__content .btn {
    --product-card-content-btn-margin-top: 1.875rem; /* 30px */
  }

  .product-card__content-details {
    --product-card-details-margin-top: 1.25rem; /* 20px */
  }

  .product-card__content-details p {
    --product-card-details-text-margin-top: 1.5rem; /* 24px */
  }

  .product-card__content-price {
    --product-card-details-price-margin-top: 1.875rem; /* 30px */
  }
}
